body{
	min-width: 1205px;

}

.spinner{
	margin-top: 220px;
	margin-left: auto;
	margin-right: auto;
	height: 15px;
	width: 85px;
}

.title{
	color: black;
	font-weight: bold;
	font-size: 1em;
}

.text{
	color: black;
	font-size: 0.7em;
	text-align: left;
	
}

.button{
	width: 75px;
	height: 75px;
	line-height: 75px; /* centers text in a div (must be one line only) */
	margin-top: 10px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	border: 1px solid green;
	border-radius: 5px;
	cursor: pointer;

}

	.button:hover{
		color: red;
	}

.item-inv-empty{
	width: 75px;
	height: 75px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5px;
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	background-position: center;

}
	.item-inv-empty:last-child{
		margin-right: 0px;

	}

.item-inv-active{
	width: 90px;
	height: 90px;
	border: 3px solid black;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5px;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background: rgba(255,0,0,0.1);
	background-size: contain;
}

.view{ /* styles background picture for all views */
	position: absolute;
	width: 1150px;
	height: 530px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}



.header{
		position: relative;
		border: 1px dashed blue;
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
}


.left-flip{
	width: 10px;
	height: 20px;
	background-color: gray;
	position: absolute;
	top: 240px;
	left: 0px;
	padding: 5px;
	cursor: pointer;
}

.right-flip{
	width: 10px;
	height: 20px;
	background-color: gray;
	position: absolute;
	top: 240px;
	right: 0px;
	padding: 5px;
	cursor: pointer;
}


	#scene {
		position: relative;
		width: 1150px;
		height: 530px;
		margin-right: auto;
		margin-left: auto;
		border: 1px dashed red;
	}



#controls{
	width: 600px;
	/* height: 100px; */
	margin-top: 10px; 
	margin-right: auto;
	margin-left: auto;
	border: 1px dashed blue;

}


	.inventory-wrapper{
		/* width: 430px; */
		height: 140px;
		border: 1px dotted green;
		display: inline-block;
	}


		#inventory{
			/* width: 425px; */
			height: 100px;
			/* margin-top: 10px; */
			border: 1px solid green;
			border-radius: 5px;
		}

		#item-name{
			margin: auto;
			padding-top: 1px;
			text-align: center;
			border: 1px dotted yellow;

		}

/*  --------------------------------------------------  */

#item-info-dialog{
	display: none;
    width: 610px;
    height: 440px;
    border: 1px dashed transparent;
}


#item-info-dialog-bg{
	position: relative;
	background-image: url(../img/inventory/item-info-bg.png);
	height: 410px;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 3%;
    overflow: hidden; 

}

	#item-info-dialog-picture {
		width: 200px;
		height: 200px;
		background-size: 100% 100%;
    	background-repeat: no-repeat;
    	margin-right: auto;
    	margin-left: auto;
    	margin-top: 20px;
   		border: 1px solid gray;
   		border-radius: 5%;
		/* background: rgba(108, 187, 60, 0.2); */
   		background-position: center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-size: contain;
	}

	#item-info-dialog-title{
    	margin-right: auto;
    	margin-left: auto;
    	margin-top: 10px;
    	border: 1px dotted transparent;
    	text-align: center;
	}

	#item-info-dialog-text{
    	margin-right: auto;
    	margin-left: auto;
    	margin-top: 20px;
    	padding: 25px;
    	border: 1px dotted transparent;

    }


/* ------------------------------------------------ */



















